@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: #C5DFF8;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: #4A55A2;
    margin: 30px 0;
    font-family: 'Dancing Script', cursive;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.footer {
    margin-bottom: 100px;
}







.accordion {
    background-color: #7895CB;
    color: white;
    cursor: pointer;
    padding: 18px 20px;
    margin: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 38px;
    transition: 0.4s;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.accordion.accordion-active, .accordion:hover{
    background-color: #4A55A2; 
}

.accordion:after {
    content: '\f078'; 
    font-family: 'FontAwesome';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.accordion-active:after {
    content: '\f077'; 
}

.accordion-panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}









.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 28px;
    font-weight: 500;
}

.table th, 
.table td {
    border: 1.5px solid #000000;
    padding: 12px;
    text-align: center;
}

.table th {
    border-bottom: 3px solid #000000; /* Thicker bottom border for headers */
    background-color: #aac6fc;
    color: rgb(0, 0, 0);
}

.table tr:nth-child(even) {
    background-color: #e7e7e7;
}

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tr:hover {
    background-color: #ddd;
}













@media screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }

    .table th, 
    .table td {
        border: 1.5px solid #000000;
        padding: 6px;
        text-align: center;
    }
}